{% extends 'seckill/base.html' %}
{% block title %}{% endblock %}

{% block content %}
  <div id="layer_content">
    <div class="register-box  module-static" style="margin-top: 20px;">
            <h3>
                <em > 修改密码</em>
            </h3>
             {% if msg %}
              <div class="red">
                 {{ msg }}
              </div>
             {% else %}
               <div class="static-form">
                <form action="{% url 'password_change' %}" method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}"/>
                    <p><input type="submit" class="submit" value="保存"></p>
                </form>
               </div>
            {% endif %}
     </div>
  </div>

{% endblock %}